body {
            margin: 0;
                    padding: 0;
                    height : 100vh;
                    align-items: center;
                    font-family: Arial, Helvetica, sans-serif;
                    background-image: url(storybackground.jpg);
                    background-attachment: fixed;
                    background-size: cover ;
                    background-repeat: no-repeat;
                    background-position: center;
                    text-shadow: 1px 1px 3px;
        }

        form {
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            max-width: 500px;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }

        label {
            display: block;
            margin-top: 10px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
        }

        .hidden {
            display: none;
        }

        .success {
            color: green;
            font-weight: bold;
            text-align: center;
            margin-top: 20px;
        }

        button {
            margin-top: 15px;
            padding: 10px 20px;
            font-weight: bold;
            background-color: #007BFF;
            color: white;
            border: none;
            border-radius: 5px;
        }

        button:hover {
            background-color: #6f42c1;
        }
        nav {
            background-color:black; /*kék vízszintes menü*/
            padding: 10px 0;
            text-align: center;
        }
        nav a {
            color: white;
            text-decoration: none;
            padding: 10px 20px;
            font-weight: bold;
            transition: background-color 0.3s;
            display: inline-block;
        }
        nav a:hover {
            background-color: purple; /* egeret ráhúzva lila lesz lila */
        }
        /* világítson a menü amiben vagyok*/
        nav a.active
        {
            background-color: purple;
            text-decoration: underline;

        }